*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

a {
    font-family: "Roboto";
    font-weight: 500;
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    overflow-wrap: break-word;
}

body {
    display: grid;
    grid-template-areas:
        'aside header header header header'
        'aside main main main main'
        'aside main main main main'
        'aside main main main main'
        'aside main main main main'
        'aside main main main main';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    background-color: #e2e8f0;
}

aside {
    grid-area: aside;
    background-color: #f6df12;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

aside > div > img {
    width: 36px;
    height: 36px;
}

aside > div { 
    display: flex;
    align-items: center;
    padding: 8px;
}

aside > div > a {
    margin-left: 4px;
    font-size: 1.55rem;
}

nav div {
    margin-left: 15px;
    font-size: 1.07rem;
}

nav div:nth-child(2) {
    margin-top: 100px;
}

nav div ul li {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

nav div ul li a {
    margin-left: 11px;
}

nav div ul li img {
    width: 23px;
    height: 23px;
}