body {
    display: grid;
    grid-template-areas: 
    'aside header header header header'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    background-color: #e2e8f0;
}

aside {
    grid-area: aside;
    background-color: #84cc16;
}